


<section class="content-header">
    <h1>Form Editor </h1>
    <div id="txt" class="pull-right"></div>
    <h1 class="pull-right" id="currentDate"></h1>
</section>

<section class="content">
    <form method="POST">
        <div id="fill-me-in"></div>
    </form>
    {{>scripts}}

    <script>
        var options = {
            subtypes: {
                text: ['datetime-local']
            },
            onSave: function(e, formData) {
                        console.log(formData);

                        var json = {
                            business: findID,
                            fields: formData
                        };

                        $.ajax({
                            url:'/api/m/form',
                            type:'POST',
                            data: JSON.stringify(json),
                            contentType:'application/json',
                            dataType:'json',
                            success:function(){
                                alert('Form Submitted!');
                            }
                        });
                    }
        };

        $(function() {
            $('#fill-me-in').formBuilder(options);
        });
    </script>
</section>

