


<section class="content-header">
    <h1>Form Editor </h1>
    <div id="txt" class="pull-right"></div>
    <h1 class="pull-right" id="currentDate"></h1>
</section>

<section class="content">
    <form method="POST">
        <div id="fill-me-in"></div>
    </form>
    {{>scripts}}

    <script>
        $(function() {
            $('#fill-me-in').formBuilder();
        });
    </script>
</section>

